/* importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
}

:root {
    --white-10: #F4F4F4;
    --yellow-10: #f0c740;
    --blue-10: #0d1e43;
    --orange-10: #FF8C42;
    --orange-20: #a75b2b;
    --black-10: #121212;
    --green-10: #209f80;
}

/* sessão 01 */
.hero-section {
    background-color: var(--white-10);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    z-index: 1;
}

.main-logo {
    color: var(--blue-10);
    position: fixed;
    top: 2.2rem;
    left: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    user-select: none;
    z-index: 999;
}

.main-logo span {
    color: var(--yellow-10);
}

.section-article {
    width: 38%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 2;
}

.section-article h1 {
    color: var(--blue-10);
    font-size: 3.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}

.section-article h1 > span {
    color: var(--yellow-10);
}

.section-article h3 {
    width: 100%;
    color: var(--black-10);
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.section-article-cta {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}

.section-article-cta button {
    background-color: var(--orange-10);
    color: var(--white-10);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.section-article-cta button:hover {
    background-color: var(--orange-20);
}

.section-article-cta p {
    color: var(--green-10);
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    opacity: .8;
}

.section-picture {
    position: relative;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 3;
    user-select: none;
}

.section-picture .desktop {
    width: 90%;
}

.section-picture .mobile {
    display: none;
    width: 90%;
}

.section-picture :nth-child(3) {
    position: absolute;
    top: 2rem;
    left: 5rem;
    z-index: -1;
}

.section-picture :nth-child(4) {
    position: absolute;
    bottom: 3rem;
    left: -5rem;
    z-index: -1;
}

.section-picture :nth-child(5) {
    position: absolute;
    bottom: 8rem;
    right: -4rem;
    z-index: -1;
}

.section-text-wrap {
    background-color: var(--green-10);
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    z-index: 2;
}

.section-text-wrap h2 {
    color: var(--white-10);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    animation: move-rtl 18000ms linear infinite;
}

/* sessão 02 */
.text-section {
    background-color: var(--blue-10);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4rem;
    z-index: 1;
}

/* animação */
@keyframes move-rtl {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-850%);
    }
}

/* seleção */
::selection {
    background-color: var(--green-10);
    color: var(--white-10);
}

/* respisividade */
@media (min-width: 1200px) {
    
}
@media (1000px<=width<=1199px) {

}
@media (680px<=width<=999px) {
    .hero-section {
        height: auto;
        padding: 6.3rem 0 0 0;
        flex-direction: column;
        gap: 3.3rem;
    }

    .section-article {
        width: 85%;
    }
    
    .section-article h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .section-article h3 {
        font-size: 1.1rem;
    }

    .section-picture {
        width: 80%;
    }

    .section-picture .desktop {
        display: none;
    }
    
    .section-picture .mobile {
        display: flex;
    }

    .section-picture :nth-child(3) {
        position: absolute;
        top: -1.5rem;
        left: 2rem;
        width: 50%;
    }
    
    .section-picture :nth-child(4) {
        display: flex;
        width: 30%;
        left: -1rem;
    }

    .section-picture :nth-child(5) {
        display: flex;
        width: 30%;
        right: 0;
        bottom: 7rem;
    }

    @keyframes move-rtl {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-400%);
        }
    }
}

@media (430px<=width<=679px) {
    .hero-section {
        height: auto;
        padding: 6.3rem 0 0 0;
        flex-direction: column;
        gap: 3.3rem;
    }

    .section-article {
        width: 85%;
    }
    
    .section-article h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .section-article h3 {
        font-size: 1.1rem;
    }

    .section-picture {
        width: 80%;
    }

    .section-picture .desktop {
        display: none;
    }
    
    .section-picture .mobile {
        display: flex;
    }

    .section-picture :nth-child(3) {
        position: absolute;
        top: -1.5rem;
        left: 2rem;
        width: 70%;
    }
    
    .section-picture :nth-child(4) {
        display: flex;
        width: 30%;
        left: -1rem;
    }

    .section-picture :nth-child(5) {
        display: flex;
        width: 30%;
        right: 0;
        bottom: 7rem;
    }

    @keyframes move-rtl {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-400%);
        }
    }
}

@media (max-width: 429px) {
    .hero-section {
        height: auto;
        padding: 6.3rem 0 0 0;
        flex-direction: column;
        gap: 3.3rem;
    }

    .section-article {
        width: 85%;
    }
    
    .section-article h1 {
        font-size: 2.5rem;
        width: 95%;
    }

    .section-article h3 {
        font-size: 1.1rem;
    }

    .section-picture {
        width: 85%;
    }

    .section-picture .desktop {
        display: none;
    }
    
    .section-picture .mobile {
        display: flex;
    }

    .section-picture :nth-child(3) {
        position: absolute;
        top: -1.5rem;
        left: 0;
        width: 100%;
    }
    
    .section-picture :nth-child(4),
    .section-picture :nth-child(5) {
        display: none;
    }

    @keyframes move-rtl {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-400%);
        }
    }
}